html {
  font-size: 10px;
}
body {
  margin: 0;
  border: 0;
  font-size: 100%;
  line-height: 1;
  padding: 4em 2.5em 4em 2.5em;
  font-family: "lora", serif;
  font-size: 1.5rem;
  text-align: center;
}
main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 5px 15px 5px;
  border-radius: 10px;
  background-color: #d5e1df;
}
h1 {
  font-size: 5rem;
}

img {
  float: center;
  max-width: 600px;
  max-height: 600px;
}

h2 {
  font-size: 2.7rem;
}
ul {
  padding: 5px 25px 5px 40px;
}
a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}
#title {
}
#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}

#img-caption {
  padding: 5px 0 0 0;
  font-style: italic;
}
#tribute-info {
  text-align: justify;
  padding: 0 1rem 0 1rem;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: auto;
}
#quote-card {
  display: flex;
  position: relative;
  background: #f1f1f1f1;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px 50px 15px 50px;
  width: 100%;
}
blockquote {
  font-style: italic;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.5;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}